# Python/R/conda stuff
*.pyc
.Rhistory
.RData
.Rproj.user/
__pycache__/

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Conda env folders
.env/
.venv/

# H5AD files and matrix files
*.h5ad
*.mtx
*.tsv
*.txt
*.gz
*.tar
*.h5
*.json
*.jar

# Data folders
raw_data/

# Ignore the folder and all its contents
processed_data/

# Shiny logs
*.log

# Except for this file
!cloud_config.json


